div#main_container{
  background-color:#ece5d8;
}
nav#headnav{
  background-color:#485164;
}
body{
  background-color:#DDDDDD;
}
thead{
  background-color:#485164;
  color:#FFFFFF;
}
tbody{
  background-color:#FFFFFF;
  color:#000000;
}